<div class="row">
    <!-- Stats -->
    <div class="col-md-2">
        <div class="box bg-info darken">
           
        </div>
    </div>
    <div class="col-md-4">
        <div class="box bg-info darken">
            <div class="box-cell p-x-3 p-y-1">
                <div class="font-weight-semibold font-size-12">PETS</div>
                <div class="font-weight-bold font-size-20">@ViewBag.PetsTot</div>
                <i class="box-bg-icon middle right font-size-52 fa fa-paw"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box bg-warning darken">
            <div class="box-cell p-x-3 p-y-1">
                <div class="font-weight-semibold font-size-12">PETS FAVORITADOS</div>
                <div class="font-weight-bold font-size-20">@ViewBag.PetsFavTot</div>
                <i class="box-bg-icon middle right font-size-52 fa fa-star"></i>
            </div>
        </div>
    </div>
</div>

<hr class="page-wide-block m-y-0">

<!-- Metrics -->

<div class="page-wide-block">
    <div class="box m-a-0 border-radius-0" id="metrics">
        <div class="box-row valign-top">
            <!-- Fast buttons -->
            <div class="box-cell col-md-6">
                <div class="box-container text-xs-center text-primary">
                    <div class="box-row valign-middle">
                        <a href="@Url.Action("Create","Pets")" class="box-cell p-y-1 b-r-1 bg-white">
                            <i class="fa fa-paw font-size-52 line-height-1"></i>
                            <div class="font-size-12">Anunciar</div>
                        </a>
                        <a href="@Url.Action("Index", "Pets")" class="box-cell p-y-1 bg-white">
                            <i class="fa fa-list-ul font-size-52 line-height-1"></i>
                            <div class="font-size-12">Ver Pets</div>
                        </a>
                    </div>

                    <div class="box-row valign-middle">
                        <a href="@Url.Action("TrocarSenha","Conta")" class="box-cell p-y-1 b-r-1 b-t-1 bg-white">
                            <i class="fa fa-cog font-size-52 line-height-1"></i>
                            <div class="font-size-12">Trocar Senha</div>
                        </a>
                        <a href="@Url.Action("Sair","Conta")" class="box-cell p-y-1 b-t-1 bg-white">
                            <i class="fa fa-power-off font-size-52 line-height-1"></i>
                            <div class="font-size-12">Sair</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>